# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/e-commerce - Copie
/e-commerce-backend - Copie/*
/Nouveau dossier/*
/e-commerce/node_modules/*
/e-commerce/tests/*
/e-commerce/src/exo/*
/e-commerce-backend/node_modules/*

/node_modules/*
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
